* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-wrapper {
    border: solid 2px black;
    border-radius: 16px;
    padding: 16px;
    width: 368px;
}

.message {
    padding: 4px 8px;
    margin: 0;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.selection-wrapper {
    display: flex;
    gap: 16px;
    margin: 16px 0;
}

.selection {
    font-size: 20px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 16px;
    text-align: center;
    flex: 1;
}

.results-wrapper {
    display: flex;
    gap: 16px;
}

.player-score,
.computer-score {
    font-size: 80px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.winner {
    padding: 4px 8px;
    margin: 16px 0;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 16px;
    background-color: rgba(62, 182, 62, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.loser {
    padding: 4px 8px;
    margin: 16px 0;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid rgb(99, 0, 0);
    border-radius: 16px;
    background-color: rgba(255, 49, 49, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.restart-button {
    padding: 4px 8px;
    margin: 16px 0;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 16px;
    background-color: rgba(62, 182, 62, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}