body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

#selection-window {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#temp-result {
  text-align: center;
}

button {
  width: 100px;
  height: 20px;
  font-weight: 700;
}